html {
  position: relative;
  min-height: 100%;
}

body {
  font-weight: 600;
  background: url(https://i.imgur.com/XfhgFTq.jpg) repeat center fixed;
  margin-bottom: 60px;
  /* margin bottom by footer height */
}

p {
  font-size: 20px;
  font-weight: 500!important;
  color: white;
}

hr {
  border-top: 3px #222222;
  border-bottom: 2px #9d9d9d;
  border-style: ridge;
}
.intro-title {
  text-shadow: 5px 3px 0px #333333;
  font-size: 3em!important;
  color: #eeeeee
}

.btn {
  font-weight: 600!important;
  margin: 1em .5em 0 .5em;
  color: #111111;
  background-color: #bfbfbf;
  border: 2px!important;
  border-style: outset!important;
  border-color: #eeeeee!important;
}

.authorWiki,
.shareQuote {
  max-height: 40px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 3em 0 rgba(255, 255, 255, 0.2);
  border-radius: .8em;
  padding: .2em;
}

/*disable transition effects on mobile*/
@media screen and (min-width: 768px) {
  .authorWiki:hover, .shareQuote:hover {
    transition: .5s;
    transform: scale(1.3);
    opacity: 1;
    position: relative;
    z-index: 99;
  }
  .btn:active {
    transition: .5s;
    transform: scale(1.1);
    opacity: 1;
    position: relative;
    z-index: 99;
    top: 3px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #222222;
  height: 60px;
  /* Set the fixed height of the footer here */
}

.footer p {
  font-size: 12px;
  font-weight: 600!important;
  color: #9d9d9d;
  text-align: left;
  margin-left: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
}